@font-face {
    font-family: 'Cairo';
    src: url('../font/Cairo-VariableFont_slnt\,wght.ttf') format('truetype');
    font-weight: 100 900; 
    font-style: normal;
}
*{
    --weksit-box-sizing:border-box;
    --moz-box-sizing:border-box;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    text-decoration: none;
}
:root {
    --main-color: #ecebde;
    --nav-color: #d7d3bf;
    --button-color:#c1baa1;
    --font-color:#87806c;
}
body{
    font-family: 'Cairo', sans-serif;
    background-color: #FFF0DC;
    line-height: 1.6;
}
header{
background-color: var(--nav-color);
padding: 7px;

}
header .content{
 display: flex;
 justify-content: space-between;
 align-items: center;
    margin:auto;
    padding: 0 15px;
}
header .logo img{
    width: 170px;
}
.links{
    position: relative;
    display: flex;
}
.links .icon{
    display: flex;
    flex-wrap: wrap;
    font-size: x-large;
    justify-content: flex-end;
}
.links .icon2{
    font-size: x-large;
    display: flex;
align-items: center;
margin-right: 30px;
}
.links ul{
list-style: none;
margin: 0;
padding: 0;
background-color: #e2f3f3;
position: absolute;
right: 20px;
top: 39px;
border-radius: 20px 0 10px 0;
min-width: 200px;
box-shadow: 9px 8px 10px 4px rgba(0, 0, 0, 0.1);

display: none;
 list-style: none;
}
ul::before{
    content: "";
    position: absolute;
    border: solid 13px #e2f3f3;
    border-radius: 37px 0;
    top: -9px;
    right: -8px;
}
.links ul a{
    text-decoration: none;
    color: var(--font-color);
}
.links:hover ul{
display: block;
}
li{
    font-weight: 300;
    padding: 17px;
    transition: all 0.5s;
    text-align: right;
    border-bottom: solid 2px rgb(189 189 189);
margin: 0;
    position: relative;
}
li i{

    position: absolute;
    left: 10px;
    top: 40%;
}
li:hover{
    background-color: var(--button-color);
    color: white;

}
.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 61px;
  }
  
  h1 {
    font-size: 40px;
    color: var(--font-color); 
    margin-top: 13px;
    margin-bottom: 20px;
  }
  
  form {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  input, select, button {
    width: 60%;
    padding: 10px;
    margin: 15px 0;
    font-size: 18px;
    color: #A59D84; 
   
  }
  
  input[type="text"], select {
    border: 2px solid #ccc;
    border-radius: 5px;
direction: rtl;
  }
  
  button {
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 18px;
    transition: all 0.6s;
  }
  .submit{
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 18px;
    transition: all 0.6s;
    width: 61%;
    margin: auto;
    padding: 10px;
  }
  button:hover {
    background-color: var(--nav-color);
  }
main{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.fromquestion {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    justify-content: center;
}
.fromquestion a{
    text-decoration: none;
    color: var(--font-color);
}
.poster{
    width: 370px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #ddd8c6;
    margin: 16px;
    border-radius: 10px;
    align-items: center;
    box-shadow: 1px 1px 13px 0px #635b5b;
    transition: all 0.8s;
}
.poster:hover{
    transform:scale(1.1);
    box-shadow:1px 1px 13px 0px #a4a710;
    background-color: #e9d27f;
    margin: 0 25px;
}
.poster img{
    width: 100px;
    height: 100%;
    margin: 10px;
    box-shadow: 1px 0px 0px #888888, 0px 0px 6px 3px #5f4545;
    border-radius: 14px;
    
}


.intro{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.imagenovel img{
    width: 223px;
    margin: 67px 40px;
    box-shadow: 1px 1px 20px 8px grey;
    border-radius: 18px;

}
#title{
    text-align: center;
    font-weight: bolder;
    font-size: xxx-large;
    color: var(--font-color);
}
.intro .info{
    width: 415px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--font-color);
}
.novelinfo{
    height: fit-content;
    margin-top: auto;
    color: var(--font-color);
}
.read{
    height: fit-content;
    background-color: var(--button-color);
    font-size: 18px;
    font-weight: bolder;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 3px 7px 2px grey;
}
.read a {
    color: white;
}

#summerize{
    width: 90%;
    text-align: center;
    margin: auto;

    font-weight: 400;
}
.novelinfo p{
    text-align: center;
    font-weight: bolder;
    font-size: large;
    margin: 20px;
 
}


.total-info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 margin-top: 50px;
}
.total-info .card-info{
    width: 282px;
   background-color: var(--button-color);
   margin: 30px auto;
   padding: 10px;
   box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5);
   text-align: center;
   transition: all 1s;
}
.icon-info{
    width: 100%;
    display: flex;
    margin: auto;
}
.card-info p{
    font-size: 24px;
    margin: 10px 20px 0;
}
.card-info img {
        width: 264px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);}

.icon-info a {
    width: calc(100% /4);
    margin: 10px;
    font-size: x-large;
    text-align: center;
}
  footer{
    background-color:var(--nav-color);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
  }

  footer .fot{
 display: flex;
 justify-content: center;
 align-items: center;
    margin:auto;
    padding: 0 15px;
    text-align: center;
}

@media (min-width:768px){
    .content , .fot{
        width:750px ;
    }

 
}
@media (min-width:992px){
    .content , .fot{
        width:970px ;
    }

 
}
@media (min-width:1200px){
    .content , .fot{
        width: 1178px;
    }

}